@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: 'Wix Madefor Display', -apple-system, BlinkMacSystemFont,
      'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-slate-900 bg-zinc-100;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  input::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
  }

  input::-webkit-color-swatch {
    border: none;
    border-radius: 0.25rem;
    aspect-ratio: 1/1;
  }
}

@layer components {
  .dialog {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
  }

  .code-dialog {
    color: #f8f8f2;
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
  }

  .cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .fade-in {
    animation: fade-in 250ms 1 alternate cubic-bezier(0.79, 0.14, 0.15, 0.86);
  }

  @keyframes fade-in {
    from {
      transform: translateY(40%);
      transform: opacity(0);
    }

    to {
      transform: translateY(0);
      transform: opacity(1);
    }
  }
}
